# Sample config file for Winfast 6300 with DoC Millennium (as root)

# This will make a target directory of ./winfast
target winfast-test12

# WinFast 6300 MAX mainboard
mainboard leadtek/winfast6300

# Enable Serial Console for debugging
option SERIAL_CONSOLE

# Enable MicroCode update and L2 Cache init for PII and PIII
option UPDATE_MICROCODE
option CONFIGURE_L2_CACHE

# Use the internal VGA frame buffer device
option HAVE_FRAMEBUFFER

# Path to your kernel (vmlinux)
linux ~/src/bios/linux-2.4.0-test12.sis

# Kernel command line parameters
commandline root=/dev/hda1 single
